<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
	<script src="../static/js/echarts.min.js"></script>
</head>
<body>
  <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
  <div id="main" style="width: 600px;height:400px;"></div>
  {% for row in rows%}
  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
  
        // 指定图表的配置项和数据
        var option = {
          title: {
            text: '大白菜每日均价'
          },
          tooltip: {},
          legend: {
            data: ['均价']
          },
          xAxis: {
            data: ['大白菜', '小白菜', '西红柿', '茄子', '蒜头', '冬瓜']
          },
          yAxis: {},
          series: [
            {
              name: '均价',
              type: 'bar',
              data: [5, 20, 36, 10, 10, 20]
            }
          ]
        };
  
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
      </script>
    {% endfor %}
</body>
</html>